/*navigation bars change at different size screen*/
@media (max-width:767px) {.hidden-xs{display:none!important}}
@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}
@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}
@media (min-width:1200px){.hidden-lg{display:none!important}}


#logo img{text-align: center;
	margin-bottom: 20px;
	}
	/*navigation side bar*/
#navigation {background-color: #3a1e1a;
	border-right: thick solid #c00404;
	border-bottom: 4px solid #c00404;
	border-bottom-right-radius: 10px;
	padding-top: 20px;
	width: 240px;
	font-family: "Arial";
	color:white;
	float: left;
	}
#navigation div {position: relative;}
#navigation p {text-align: right;
	padding-right: 20px;
	position: absolute; 
	top: 65px; 
	left: 0; 
	width: 100%;
	font-family: "Vitesse Book";}
#navigation nav a {color: white;}
#navigation nav a.active {color: #ffcd00;}

/*navigation small screen */
#small-nav {background-color: #3a1e1a;
	padding-top: 20px;
	width: 100vw;
	
/*text-align: center;*/
	border-bottom: thick solid #c00404;
	font-family: "Arial";
	color: white; }
#small-nav nav {position: relative;}
#small-nav nav p{text-align: left;
	position: absolute; 
	top: 70px; 
	left: 95px; 
	width: 100%;
	font-family: "Vitesse Book";	}
#small-nav img {margin-bottom: 10px;}
#small-nav button {margin-top: 35px;}
#small-nav navbar {background-color: #3a1e1a !important;}
.navbar .navbar-nav .nav-link {color: white;
	text-align: center;}
.navbar .navbar-nav .nav-link:hover {color: white;}
.navbar .navbar-nav .nav-link.active {color: #ffcd00;}

/*main content for welcome page*/
@media (max-width:991px) {#welcome {padding-top: 30px;}
	#welcome p {font-size: 1.5rem;}
	.red-line {width: 450px;}}
@media (min-width:992px) {#welcome {padding-top: 20vh;}
	#welcome h2 {font-size: 3rem;}
	#welcome p {font-size: 2rem;}
	.red-line {width: 700px;}}

#welcome {text-align: center;}	
#welcome h2, #welcome h3 {font-family: "Georgia";
	font-weight: normal;}
#welcome p {font-family: "Georgia";
font-size: 1.5rem;}
.red-line {background-color: #c00404;
	height: 2px;
	margin: 0 auto;}

/*main content of page*/
#style-guide {padding-top: 20px;}
#style-guide h2{font-family: "Georgia";
	font-weight: normal;
	text-align:center;}
#style-guide {font-family: "Georgia";}
#style-guide a {color:#ed1c24;
	text-decoration: underline;}

/*Style for Code blocks*/
@media (max-width:767px){.example-code, .example-code pre {max-width: 650px;
	max-height: 150px;}}
@media (min-width:768px) {.example-code, .example-code pre {max-width: 750px;
	max-height: 150px;}}
.example-code {background-color: WhiteSmoke;
	overflow: hidden;}
.example-code pre{overflow: scroll;
	padding: 10px;}
.example-code pre code{color: #c00404;
	font-family: Georgia;}
code {color: #c00404;
	font-family: Georgia;}

	
/*for from page*/	
form {background-color: lightgrey;
	padding: 10px;}
.radiobuttons {width:250px;}
.radiobuttons label {width: 10em;
	text-align: right;}
.radiobuttons ul{list-style-type: none;
	margin: 0;
    padding: 0;}
.checkboxes ul{list-style-type: none;
	margin: 0 5px;
    padding: 0;}
.checkboxes {border: thin black solid;}

/*Buttons on logo page*/
button {border-radius: 4px;}
button:hover {border-color: #ffc72c;
	background-color: #ffcd00;}
