/*navigation bars change at different size screen*/
@media (max-width:767px) {.hidden-xs{display:none!important}}
@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}
@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}
@media (min-width:1200px){.hidden-lg{display:none!important}}


#navigation a img{display: block;
	margin: 0 auto 20px auto;}

	/*navigation side bar*/
#navigation {background-color: #3a1e1a;
	border-right: thick solid #c00404;
	padding-top: 20px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 240px;
	height: 100vh;
	font-family: "Arial";
	color:white;
	}
#navigation nav ul {list-style-type: none;
	padding-right: 7px;}
#navigation nav ul li{padding-top: 20px;}
#navigation nav ul li a {text-decoration: none;}
#navigation p {position: absolute; 
	top: 65px; 
	left: 100px; 
	font-family: "Vitesse Book";}
#navigation nav a {color: white;}
#navigation nav a.active {color: #ffcd00;}

/*navigation small screen */
#small-nav {background-color: #3a1e1a;
	padding: 20px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	border-bottom: thick solid #c00404;
	font-family: "Arial";
	color: white; }
#small-nav nav {position: relative;}
#small-nav nav ul {list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;}
#small-nav nav ul li{padding-top: 20px;}
#small-nav nav ul li a {text-decoration: none;}
#small-nav nav a {color: white;}
#small-nav nav a.active {color: #ffcd00;}
#small-nav nav p{text-align: left;
	position: absolute; 
	top: 50px; 
	left: 75px; 
	width: 100%;
	font-family: "Vitesse Book"}
#small-nav img {margin-bottom: 10px;}
#small-nav button {margin-top: 35px;
	float:right!important}
.expandContent a {text-decoration: none;
	position: absolute;
	top: 40px; 
	right: 50px;
	font-size: 2em;}


/*main content for welcome page*/
@media (max-width:991px) {#welcome {padding-top: 30px;
	margin-top: 200px;}
#welcome h2{color: #ed1c24;}}
@media (min-width:992px) {#welcome {padding-top: 20vh;
	margin-left: 240px;
	float: center;}
#welcome h2 {color: #ed1c24;}}

#welcome {text-align: center;}	
#welcome h2, #welcome h3 {font-family: "Arial";
	font-weight: normal;}
#welcome p {font-family: "Georgia";;}

/*main content of page*/
@media (max-width:991px) {#style-guide {margin-top: 150px;}}
@media (min-width:992px) {#style-guide {margin-left: 240px;
float: center;}}

#style-guide {padding: 40px;}
#style-guide h2{font-family: "Georgia";
	font-weight: normal;
	color: #ed1c24;}}
#style-guide {font-family: "Georgia";}
#style-guide a {color:#ed1c24;
	text-decoration: underline;}

/*Style for color page*/
.colorblocks div {width:100px; 
	height:100px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;}
.colorblocks div h3 {color: #ed1c24;}
.colorblocks div code {color: Black;}

/*Style for Code blocks*/
@media (max-width:767px){.example-code, .example-code pre {max-width: 650px;
	max-height: 150px;}}
@media (min-width:768px) {.example-code, .example-code pre {max-width: 750px;
	max-height: 150px;}}
.example-code {background-color: WhiteSmoke;
	overflow: hidden;}
.example-code pre{overflow: scroll;
	padding: 10px;}
.example-code pre code{color: #c00404;
	font-family: Georgia;}
code {color: #c00404;
	font-family: Georgia;}

	
/*for from page*/	
form {background-color: lightgrey;
	padding: 10px;}
.radiobuttons {width:250px;}
.radiobuttons label {width: 10em;
	text-align: right;}
.radiobuttons ul{list-style-type: none;
	margin: 0;
    padding: 0;}
.checkboxes ul{list-style-type: none;
	margin: 0 5px;
    padding: 0;}
.checkboxes {border: thin black solid;}

/*Buttons on logo page*/
button {border-radius: 4px;}
button:hover {border-color: #ffc72c;;
	background-color: #ffcd00;}
